.navigation{
    margin: 0 20px 0 0;
}
.item{
    text-decoration: none;    
    font-family: Roboto-Regular;
    font-size: 24px;
    color:#333333;
    padding: 0 0 10px 0;
    display: flex;
    align-items: center;
    height:30px;
    width: 400px;
    justify-content: space-between;
}
.item>.link{
    color:#333333;    
    text-decoration: none;       
    overflow: hidden;
    text-overflow: ellipsis; 
}
.items-title{    
    color:#333333;
    font-size: 24px;
    text-decoration: underline;
    padding: 0 0 5px 0;
}
.link:hover{
    color: #209bac; 
}
.small-button:hover{
    background-color:#209bac;
}
.item-container{    
    padding: 40px 0 0 10%;
    display: flex; 
    height: calc(100% - 40px);
    flex-direction: column;   
    flex: 1;
    overflow: auto;
}
.small-button{
    height: 30px;
    margin: 0 0 0 20px;
    border-radius: 50%;    
    padding: 0 10px;
    background-color: #313464;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content:center;
    color:white;
    text-decoration: none;
    cursor: pointer;
}