
.item-no-hover{
    text-decoration: none;    
    font-family: Roboto-Regular;
    font-size: 24px;
    color:#333333;
    padding: 0 0 5px 0;
    display: flex;
    align-items: center;
    height:30px;
}
.item-container-no-hover{    
    padding: 0 0 0 10%;
    display: flex;
    height: calc(100% - 110px);
    flex-direction: column;   
    flex: 1;
    overflow: auto;
}